@*Common HTML shared across all views.*@

<!DOCTYPE html>
<html>
    <head>
        @*<title>@ViewBag.Title</title>*@
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <h1>Computer Programming</h1>
        </header>
        <nav>
            @* Html Helpers: @Html.ActionLink("Course Page", "Index", "Home")*@
            @* Tag helpers: server side attribute*@
            <a asp-controller="Home" asp-action="Index">Courses</a><br />
            <a asp-controller="Home" asp-action="About">Description</a><br />
            <a asp-controller="Home" asp-action="Book">Books</a>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>