@*ViewData variable on Layout Page*@
@{ 
    ViewData["Title"] = "Course Description";
} 

<h3>
    Summer Quarter, 2021
 </h3>

<p>
    Learn how to make functional websites with ASP.NET Core MVC which stands for Model View Controller.<br />
    IDE: Visual Studio <br />
    Source/Version Control: GitHub
</p>

