
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <p>
        Summer Quarter, 2021: Learning about ASP.NET Core MVC.
    </p>
</body>
</html>
